openapi: 3.1.0

# Project variables for API configuration
x-project-variables:
  baseUrl:
    default: https://api.contazen.ro/v1
    description: Base URL for API requests
    enum:
      - https://api.contazen.ro/v1
  apiKey:
    default: Bearer YOUR_API_KEY
    description: Authorization header with Bearer token
    example: Bearer sk_live_YOUR_API_KEY

info:
  title: Contazen API
  version: 1.2.0
  description: |
    Build powerful integrations with the Contazen invoicing platform. The Contazen API is organized around REST, 
    has predictable resource-oriented URLs, accepts JSON request bodies, returns JSON-encoded responses, 
    and uses standard HTTP response codes, authentication, and verbs.
    
    ## Authentication
    The API uses Bearer token authentication. Include your API key in the Authorization header.
    
    ### Getting your API Key
    1. Log in to your Contazen account
    2. Navigate to Settings > API
    3. Generate or copy your API key (starts with `sk_live_` for production or `sk_test_` for testing)
    
    ### Using the API Key
    Include your API key in the Authorization header:
    ```
    Authorization: Bearer sk_live_YOUR_API_KEY
    ```
    
    ### Example Request with cURL
    ```bash
    curl --request GET \
      --url https://api.contazen.ro/v1/clients \
      --header 'Authorization: Bearer sk_live_YOUR_API_KEY' \
      --header 'Accept: application/json'
    ```
    
    ## Rate Limiting
    - 1000 requests per hour per API key
    - 100 create operations per minute per API key
    
    Rate limit information is included in response headers:
    - `X-RateLimit-Limit`: Maximum requests allowed
    - `X-RateLimit-Remaining`: Requests remaining
    - `X-RateLimit-Reset`: Reset time (Unix timestamp)
    
    ## Pagination
    All list endpoints return paginated results with the following format:
    ```json
    {
      "success": true,
      "data": {
        "object": "list",
        "data": [...],
        "has_more": true,
        "total": 245,
        "page": 1,
        "per_page": 50,
        "total_pages": 5
      },
      "meta": {
        "version": "v1",
        "request_id": "req_1a2b3c4d",
        "response_time": "23.45ms"
      }
    }
    ```
    
    ## Multi-Work-Point Access
    API keys belong to a specific work point but can access data from all work points
    within the same parent company.
    
    ## Error Handling
    The API uses conventional HTTP response codes to indicate success or failure. 
    In general: 2xx codes indicate success, 4xx codes indicate an error due to the 
    information provided, and 5xx codes indicate an error with Contazen's servers.
    
    ## Expanding Nested Objects
    Many endpoints support the `expand` parameter to include related objects in the response.
    This follows the Stripe API pattern. For example:
    - `expand[]=lines` - Include invoice line items
    - `expand[]=payments` - Include payment records
    - `expand[]=client` - Include full client object
    
    ## Localization
    The API supports multiple languages through:
    - `locale` query parameter (en, ro)
    - `Accept-Language` header
    - Default: English
    
  contact:
    name: Contazen Support
    email: support@contazen.ro
    url: https://contazen.ro
  license:
    name: Proprietary
    url: https://www.contazen.ro/termeni-si-conditii-de-utilizare/
    
servers:
  - url: https://api.contazen.ro/v1
    description: Production API server

tags:
  - name: Authentication
    description: API authentication and test endpoints
  - name: Clients
    description: Manage your customers (B2B and B2C)
  - name: Invoices
    description: Create and manage invoices, proformas, and receipts
  - name: Products
    description: Manage your product and service catalog
  - name: Expenses
    description: Track and manage business expenses
  - name: Expense Categories
    description: Organize expenses with categories
  - name: Suppliers
    description: Manage expense suppliers and vendors
  - name: Settings
    description: API settings and configuration
  - name: Payments
    description: Payments received against invoices
  - name: Receipts
    description: Cash receipts (chitanțe) — standalone or paired with an invoice
  - name: Company Lookup
    description: Romanian company lookup (ANAF / VIES)
  - name: Invoice Series
    description: Manage invoice numbering series
  - name: Bank Accounts
    description: Manage IBAN bank accounts
  - name: E-Factura
    description: Romanian e-invoicing status and configuration
  - name: Supplier Bills
    description: Supplier invoices imported from the ANAF SPV inbox
  - name: VAT Rates
    description: Firm-scoped custom VAT rates on top of the Romanian catalog
  - name: Currencies
    description: Currencies enabled for the firm's bill templates
  - name: Languages
    description: Languages enabled for the firm's bill templates

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your API key (sk_live_xxx or sk_test_xxx)
      
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          default: true
        data:
          type: object
        meta:
          $ref: '#/components/schemas/ResponseMeta'
          
    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          default: false
        error:
          type: object
          required:
            - message
            - type
            - code
          properties:
            message:
              type: string
              description: Human-readable error message
            type:
              type: string
              enum:
                - api_error
                - authentication_error
                - invalid_request_error
                - rate_limit_error
                - permission_error
                - validation_error
            code:
              type: string
              description: Machine-readable error code
            param:
              type: string
              description: The parameter that caused the error
            doc_url:
              type: string
              format: uri
              description: URL to relevant documentation
        meta:
          $ref: '#/components/schemas/ResponseMeta'
          
    ResponseMeta:
      type: object
      properties:
        version:
          type: string
          default: v1
        request_id:
          type: string
          format: uuid
          description: Unique request identifier for debugging
        response_time:
          type: string
          example: "23.45ms"
          
    PaginationMeta:
      type: object
      properties:
        object:
          type: string
          default: list
        has_more:
          type: boolean
        total:
          type: integer
        page:
          type: integer
        per_page:
          type: integer
        total_pages:
          type: integer
          
    Client:
      type: object
      required:
        - id
        - object
        - name
      properties:
        id:
          type: string
          description: Unique identifier (CzUid)
          example: "cli_1a2b3c4d5e"
        object:
          type: string
          default: client
        name:
          type: string
          description: Client name
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        cui:
          type: string
          description: Tax identification number (CIF/CUI)
          nullable: true
        cui_prefix:
          type: string
          description: Country prefix for CUI (e.g., RO)
          nullable: true
        rc:
          type: string
          description: Trade register number
          nullable: true
        client_type:
          type: string
          enum: [b2b, b2c]
          description: "`b2b` for companies, `b2c` for individuals"
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        iban:
          type: string
          nullable: true
        bank:
          type: string
          nullable: true
        contact_person:
          type: string
          nullable: true
        created_at:
          type: integer
          description: Unix timestamp
        updated_at:
          type: integer
          nullable: true
          description: Unix timestamp (currently always null)
        metadata:
          type: object
          description: |
            Aggregated counters. Shape depends on the endpoint:
            - **List** (`GET /clients`): `{ invoices_count, total_invoiced }` — pre-computed
              via the `with_totals` join so every list item has the numbers needed for the
              dashboard view.
            - **Detail / create / update** (`GET /clients/{id}`, `POST`, `PUT`):
              `{ invoices_count, unpaid_total }` — computed per request against snapshots.
          properties:
            invoices_count:
              type: integer
            total_invoiced:
              type: number
              description: Sum of fiscal invoices issued to this client (list view only).
            unpaid_total:
              type: number
              description: Remaining unpaid balance (detail view only).
        stats:
          type: object
          description: Present only on detailed responses (`GET /clients/{id}`, `POST`, `PUT`).
          properties:
            total_invoiced:
              type: number
            total_collected:
              type: number
            avg_payment_days:
              type: integer
              nullable: true
              description: Average days between issue and payment on paid invoices. `null` if no paid invoices.
            last_payment:
              type: object
              nullable: true
              properties:
                date:
                  type: integer
                  nullable: true
                  description: Unix timestamp
                amount: { type: number }
                currency: { type: string, nullable: true }
                bill_id: { type: string, nullable: true, description: Invoice CzUid }
                bill_number: { type: string, nullable: true }
            monthly_series:
              type: array
              description: Last 6 months of invoiced vs. collected amounts, oldest first.
              items:
                type: object
                properties:
                  label: { type: string, example: "Mar 2026" }
                  year: { type: integer }
                  month: { type: integer }
                  invoiced: { type: number }
                  collected: { type: number }

    ClientList:
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginationMeta'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Client'
                
    ClientCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
        cui:
          type: string
          description: Tax identification number
        cui_prefix:
          type: string
        rc:
          type: string
          description: Trade register number
        address:
          type: string
        city:
          type: string
          description: For București, include the sector (e.g. "București, Sector 1").
        county:
          type: string
        country:
          type: string
          default: RO
        postal_code:
          type: string
        iban:
          type: string
        bank:
          type: string
          description: Bank name
        contact_person:
          type: string
          
    ClientUpdateRequest:
      type: object
      description: All fields optional — only provided fields are updated.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        email:
          type: string
          format: email
        phone:
          type: string
        cui:
          type: string
        cui_prefix:
          type: string
        rc:
          type: string
        address:
          type: string
        city:
          type: string
        county:
          type: string
        country:
          type: string
        postal_code:
          type: string
        iban:
          type: string
        bank:
          type: string
          description: Bank name
        contact_person:
          type: string

    Invoice:
      type: object
      required:
        - id
        - object
        - number
        - series
        - date
        - total
      properties:
        id:
          type: string
          description: Unique identifier (CzUid)
          example: "inv_1a2b3c4d5e"
        object:
          type: string
          default: invoice
        number:
          type: string
        series:
          type: string
        full_number:
          type: string
          description: Combined series and number
        date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        client_id:
          type: string
        client:
          $ref: '#/components/schemas/Client'
        currency:
          type: string
          default: RON
        exchange_rate:
          type: number
          description: Exchange rate to RON if foreign currency
        subtotal:
          type: number
          description: Total without VAT
        vat_amount:
          type: number
          description: Total VAT amount
        total:
          type: number
          description: Total including VAT
        subtotal_ron:
          type: number
          description: Subtotal in RON (for foreign currency invoices)
        vat_amount_ron:
          type: number
          description: VAT amount in RON (for foreign currency invoices)
        total_ron:
          type: number
          description: Total in RON (for foreign currency invoices)
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        is_paid:
          type: boolean
          description: Payment status (excludes voided invoices)
        paid_at:
          type: string
          format: date
        is_void:
          type: boolean
        voided_at:
          type: string
          format: date-time
        void_reason:
          type: string
        is_draft:
          type: boolean
        is_storno:
          type: boolean
          description: True if this is a storno (reversal) invoice
        storno_for:
          type: string
          description: CzUid of the original invoice if this is a storno
        document_type:
          type: string
          enum:
            - fiscal
            - proforma
            - receipt
        payment_method:
          type: string
        notes:
          type: string
        observations:
          type: string
        efactura_enabled:
          type: boolean
          description: Whether e-Factura submission is enabled
        efactura_status:
          type: string
          enum: [pending, submitted, accepted, rejected, error]
        efactura_submission_id:
          type: string
        created_at:
          type: string
          format: date-time
        modified_at:
          type: string
          format: date-time
          
    InvoiceList:
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginationMeta'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Invoice'
            totals:
              type: object
              description: Aggregated totals for all invoices matching the filters
              properties:
                subtotal:
                  type: number
                  format: float
                  example: 1380871.63
                  description: Total amount without VAT
                vat:
                  type: number
                  format: float
                  example: 192519.84
                  description: Total VAT amount
                total:
                  type: number
                  format: float
                  example: 1573391.47
                  description: Total amount including VAT
                paid:
                  type: number
                  format: float
                  example: 1450000.00
                  description: Total amount of paid invoices
                unpaid:
                  type: number
                  format: float
                  example: 123391.47
                  description: Total amount of unpaid invoices
                
    InvoiceItem:
      type: object
      required:
        - description
        - quantity
        - price
      properties:
        id:
          type: integer
          description: Line item ID
        product_id:
          type: string
          description: Product CzUid if linked to catalog
        description:
          type: string
        description_extended:
          type: string
          description: Extended description or notes
        quantity:
          type: number
        price:
          type: number
          description: Unit price without VAT
        vat_rate:
          type: number
          default: 19
          enum: [0, 5, 9, 11, 19, 21]
        vat_key:
          type: integer
          description: VAT key for special exemptions (auto-determined from vat_rate)
        unit:
          type: string
          default: buc
        ubl_um:
          type: string
          description: UBL unit of measure code for e-Factura
          default: H87
        ubl_nc:
          type: string
          description: Combined Nomenclature code for e-Factura
        ubl_cpv:
          type: string
          description: Common Procurement Vocabulary code for e-Factura
        subtotal:
          type: number
          description: Line total without VAT
        vat_amount:
          type: number
          description: Line VAT amount
        total:
          type: number
          description: Line total including VAT
        save_as_product:
          type: boolean
          description: Whether to save this item as a product in catalog
          
    Payment:
      type: object
      properties:
        id:
          type: string
          description: Unique payment identifier (CzUid)
        object:
          type: string
          example: payment
        amount:
          type: number
          description: Payment amount
        currency:
          type: string
        date:
          type: string
          format: date
          nullable: true
        type:
          type: string
          enum: [receipt, bank_order, card, cheque, promissory_note, other, fiscal_receipt]
        type_description:
          type: string
          description: Localized payment type description
        reference:
          type: string
          nullable: true
          description: Reference number
        invoice:
          type: object
          nullable: true
          properties:
            id:
              type: string
            number:
              type: string
            total:
              type: number
            currency:
              type: string
        receipt:
          type: object
          nullable: true
          description: |
            Linked chitanță document, when this payment was emitted via one.
            Mobile clients use `receipt.id` to deep-link to the receipt editor.
          properties:
            id:
              type: string
              description: Receipt CzUid
            number:
              type: string
              description: Formatted receipt number (e.g. "C-001")
        client:
          type: object
          nullable: true
          properties:
            id:
              type: string
            name:
              type: string
        created_at:
          type: integer
          description: Unix timestamp

    PaymentTotals:
      type: object
      description: |
        SQL-aggregated sums over the entire filtered set (not just the loaded
        page). Amounts are expressed in the firm's accounting currency.
      properties:
        total:
          type: number
          description: Sum of all matching payments
        numerar:
          type: number
          description: Sum of `receipt` (cash) payments
        transfer:
          type: number
          description: Sum of `bank_order` payments
        card:
          type: number
          description: Sum of `card` payments
        bon_fiscal:
          type: number
          description: Sum of `fiscal_receipt` payments
        other:
          type: number
          description: Sum of `other`, `cheque`, and `promissory_note` payments
        count:
          type: integer
          description: Number of payments matching the filter
        currency:
          type: string
          description: Firm accounting currency (ISO code)

    Receipt:
      type: object
      description: A chitanță (cash receipt) document.
      properties:
        id:
          type: string
          description: Receipt CzUid
        object:
          type: string
          example: receipt
        receipt_number:
          type: string
          description: Formatted number (e.g. "C-001")
        amount:
          type: number
        amount_without_vat:
          type: number
        amount_vat:
          type: number
        currency:
          type: string
        date:
          type: string
          format: date
          nullable: true
        observations:
          type: string
          nullable: true
        language:
          type: string
          nullable: true
        is_draft:
          type: boolean
        is_deleted:
          type: boolean
        exchange_rate:
          type: number
          nullable: true
          description: Currency exchange rate (only when `currency` differs from firm accounting currency)
        exchange_currency:
          type: string
          nullable: true
          description: Target currency the exchange rate converts to
        type:
          type: string
          enum: [receipt, bank_order, card, fiscal_receipt, other]
          description: |
            Payment method type. Only present on list rows. Standalone
            chitanțe (no linked invoice) default to `receipt` (numerar).
        client:
          type: object
          properties:
            id:
              type: string
              nullable: true
            name:
              type: string
        invoice:
          type: object
          nullable: true
          properties:
            id:
              type: string
            number:
              type: string
            total:
              type: number
            currency:
              type: string
            is_paid:
              type: boolean
        payment:
          type: object
          nullable: true
          description: |
            Linked FirmBillPayment row when the chitanță is paired with an
            invoice. Standalone chitanțe (no invoice) have `payment: null`.
          properties:
            id:
              type: string
            object:
              type: string
              example: payment
            amount:
              type: number
            amount_without_vat:
              type: number
            amount_vat:
              type: number
            currency:
              type: string
            date:
              type: string
              format: date
              nullable: true
            type:
              type: string
              enum: [receipt, bank_order, card, fiscal_receipt, other]
            type_description:
              type: string
            exchange_rate:
              type: number
              nullable: true
            exchange_currency:
              type: string
              nullable: true
            invoice:
              type: object
              nullable: true
              properties:
                id:
                  type: string
                number:
                  type: string
            client:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                name:
                  type: string
            created_at:
              type: integer
        created_at:
          type: integer
        updated_at:
          type: integer
          nullable: true

    ReceiptCreateRequest:
      type: object
      required:
        - client_id
        - amount
      description: |
        Create a chitanță. When `invoice_id` is supplied, a linked
        `FirmBillPayment` row is created and the invoice's paid state is
        recomputed. Standalone chitanțe (no invoice) default to type
        `receipt` (numerar).
      properties:
        client_id:
          type: string
          description: Client CzUid (also accepts `clientId`)
        invoice_id:
          type: string
          description: Optional invoice CzUid to pair this chitanță with
        amount:
          type: number
          description: Total amount
        currency:
          type: string
          default: RON
        payment_date:
          type: string
          description: Date in `YYYY-MM-DD` or `DD-MM-YYYY` (defaults to today)
        observations:
          type: string
          description: Free-text note. Falls back to "Încasare factură {nr}" or "Încasare" when omitted.
        type:
          type: string
          enum: [receipt, numerar, cash, bank_order, transfer, op, card, fiscal_receipt, bon_fiscal, other]
          default: receipt
          description: Payment method (alias-tolerant). Only used when `invoice_id` is set.
        language:
          type: string
          default: ro
        number_id:
          type: string
          description: Chitanță series CzUid. Defaults to firm's primary chitanță series.
        exchange_rate:
          type: number
          description: Required when `currency` differs from firm accounting currency.

    ReceiptUpdateRequest:
      type: object
      description: |
        All fields optional. Same shape as create; `client_id` may be omitted
        and the existing client is preserved.
      properties:
        client_id:
          type: string
        invoice_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        payment_date:
          type: string
        observations:
          type: string
        type:
          type: string
        language:
          type: string
        exchange_rate:
          type: number

    InvoiceCreateRequest:
      type: object
      oneOf:
        - required: [client_id, items]
        - required: [client_data, items]
      properties:
        client_id:
          type: string
          description: Existing client CzUid (required if client_data not provided)
        client_data:
          type: object
          description: Inline client creation (required if client_id not provided)
          properties:
            type:
              type: string
              enum: [b2b, b2c]
              description: Client type - b2b for companies, b2c for individuals
            name:
              type: string
              required: true
            email:
              type: string
              format: email
            phone:
              type: string
            cui:
              type: string
              description: Tax ID (required for b2b)
            rc:
              type: string
              description: Trade register number
            address:
              type: string
            city:
              type: string
            county:
              type: string
            country:
              type: string
              default: RO
            postal_code:
              type: string
            iban:
              type: string
            bank:
              type: string
            contact_person:
              type: string
        series_id:
          type: string
          description: Invoice series CzUid
        reservation_token:
          type: string
          description: |
            Offline-mode only. Token returned by
            [`POST /invoice-series/{id}/reserve-numbers`](/api-reference/endpoints/invoice-series/reserve-numbers).
            When supplied, the server uses the reservation's pre-allocated
            number instead of calling `nextNumber()`, and flips the
            reservation to `consumed`. Must match the same `series_id` and
            belong to the caller's device. See [Offline Mode](/concepts/offline-mode).
        force_chronology:
          type: boolean
          default: true
          description: |
            Set to `false` to bypass the chronology check when syncing an
            offline draft dated before the last invoice on the series.
        date:
          type: string
          format: date
          description: Invoice date (defaults to today)
        due_date:
          type: string
          format: date
          description: Payment due date
        currency:
          type: string
          default: RON
        currency_rate:
          type: number
          description: Exchange rate to RON (required for foreign currency)
        document_type:
          type: string
          enum: [fiscal, proforma, receipt]
          default: fiscal
        is_draft:
          type: integer
          enum: [0, 1]
          default: 0
          description: 1 to save as draft without invoice number
        efactura_enabled:
          type: integer
          enum: [0, 1]
          default: 1
          description: Whether to submit to e-Factura (Romanian e-invoicing)
        spv_environment:
          type: string
          enum: [test, live]
          description: e-Factura environment (test for SPV testing)
        with_vat_inverted:
          type: integer
          enum: [0, 1]
          default: 0
          description: 1 for reverse charge (taxare inversă)
        payment_method:
          type: string
        payment_type:
          type: string
        payment_installments:
          type: integer
        send_email:
          type: boolean
          default: false
          description: Automatically send invoice by email after creation
        email_address:
          type: string
          format: email
          description: Override recipient email (uses client email if not specified)
        with_delegate:
          type: integer
          enum: [0, 1]
          description: Include delegate information
        delegate:
          type: object
          properties:
            delegate_name:
              type: string
            delegate_ci:
              type: string
            delegate_transport:
              type: string
            delegate_date:
              type: string
              format: date
            delegate_time:
              type: string
        info:
          type: string
          description: Additional invoice information
        observations:
          type: string
          description: Internal notes
        notes:
          type: string
          description: Customer-visible notes
        items:
          type: array
          minItems: 1
          items:
            type: object
            oneOf:
              - required: [description, quantity, price]
              - required: [product_czuid, quantity]
            properties:
              product_czuid:
                type: string
                description: Use existing product from catalog
              description:
                type: string
                description: Item description (required if not using product_czuid)
              description_extended:
                type: string
                description: Extended description
              quantity:
                type: number
                minimum: 0.01
              price:
                type: number
                description: Unit price (can be negative for discounts)
              vat_rate:
                type: number
                default: 19
                enum: [0, 5, 9, 11, 19, 21]
              vat_key:
                type: integer
                description: Override VAT key for special exemptions
              unit:
                type: string
                default: buc
              ubl_um:
                type: string
                description: UBL unit code for e-Factura
              ubl_nc:
                type: string
                description: Combined Nomenclature code
              ubl_cpv:
                type: string
                description: CPV code
              save_as_product:
                type: boolean
                default: false
                description: Save this item as a product in catalog
                
    Product:
      type: object
      required:
        - id
        - object
        - name
        - price
      properties:
        id:
          type: string
          description: Unique identifier (CzUid)
          example: "prod_1a2b3c4d5e"
        object:
          type: string
          default: product
        name:
          type: string
        description:
          type: string
        currency:
          type: string
          default: RON
        price:
          type: number
          description: Selling price without VAT
        purchase_price:
          type: number
          description: Purchase/cost price
        vat_rate:
          type: number
          default: 19
          enum: [0, 5, 9, 11, 19, 21]
        unit_of_measure:
          type: string
          default: buc
        ubl_um:
          type: string
          description: UBL unit of measure code
          default: H87
        ubl_nc:
          type: string
          description: UBL nomenclature code
        ubl_cpv:
          type: string
          description: CPV code
        type:
          type: string
          enum: [product, service]
          default: service
          description: |
            Distinguishes trackable goods from one-off services. `product`
            rows participate in stock accounting; `service` rows skip the
            stock columns even when present. Values outside the enum are
            normalized to `service` on read.
        is_service:
          type: boolean
          default: false
          description: Legacy flag kept for backwards compatibility. Prefer `type`.
        is_active:
          type: boolean
          default: true
        stock_quantity:
          type: number
          description: Current stock level
        stock_min:
          type: number
          description: Minimum stock alert level
        stock_max:
          type: number
          description: Maximum stock level
        created_at:
          type: string
          format: date-time
        modified_at:
          type: string
          format: date-time

    ProductList:
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginationMeta'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Product'
                
    ProductCreateRequest:
      type: object
      required:
        - name
        - price
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        price:
          type: number
          minimum: 0
        purchase_price:
          type: number
          minimum: 0
        currency:
          type: string
          default: RON
        vat_rate:
          type: number
          default: 21
          enum: [0, 5, 9, 11, 19, 21]
        unit_of_measure:
          type: string
          default: buc
        ubl_um:
          type: string
        ubl_nc:
          type: string
        ubl_cpv:
          type: string
        type:
          type: string
          enum: [product, service]
          default: service
          description: See `Product.type`. Defaults to `service` when omitted.
        is_service:
          type: boolean
          default: false
          description: Legacy flag — prefer `type`.
        stock_quantity:
          type: number
        stock_min:
          type: number
        stock_max:
          type: number

    ProductUpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
          minimum: 0
        purchase_price:
          type: number
          minimum: 0
        currency:
          type: string
        vat_rate:
          type: number
          enum: [0, 5, 9, 11, 19, 21]
        unit_of_measure:
          type: string
        ubl_um:
          type: string
        ubl_nc:
          type: string
        ubl_cpv:
          type: string
        type:
          type: string
          enum: [product, service]
          description: See `Product.type`. Omit to keep the current value.
        is_service:
          type: boolean
          description: Legacy flag — prefer `type`.
        is_active:
          type: boolean
        stock_quantity:
          type: number
        stock_min:
          type: number
        stock_max:
          type: number

    Expense:
      type: object
      required:
        - id
        - reference
        - amount
        - date
        - due_date
        - status
      properties:
        id:
          type: string
          description: Unique identifier (CzUid)
          example: "exp_1a2b3c4d5e"
        reference:
          type: string
          description: Invoice/document reference number
        description:
          type: string
        amount:
          type: object
          properties:
            total:
              type: number
              example: 500.00
            without_vat:
              type: number
            vat:
              type: number
            currency:
              type: string
        account_amount:
          type: object
          description: Amounts in account currency (RON)
          properties:
            total:
              type: number
            without_vat:
              type: number
            vat:
              type: number
            currency:
              type: string
              default: RON
        vat_percent:
          type: integer
          enum: [0, 5, 9, 11, 19, 21]
        with_vat:
          type: boolean
          description: Whether amount includes VAT
        date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        paid_date:
          type: string
          format: date
          nullable: true
        is_paid:
          type: boolean
        payment_type:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
        status:
          type: string
          enum: [paid, unpaid, overdue, registered]
        supplier_id:
          type: string
        supplier:
          $ref: '#/components/schemas/Supplier'
        category_id:
          type: integer
        category:
          $ref: '#/components/schemas/ExpenseCategory'
        user_id:
          type: integer
        user:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        currency_exchange:
          type: object
          nullable: true
          properties:
            from:
              type: string
            to:
              type: string
            rate:
              type: number
        attachment:
          type: object
          nullable: true
          description: Single attachment (stored in the 'image' field)
          properties:
            url:
              type: string
            filename:
              type: string
            type:
              type: string
              enum: [pdf, image]
            size:
              type: integer
        efactura:
          type: object
          nullable: true
          description: |
            Populated when the expense was imported from the ANAF e-Factura SPV
            inbox. `null` for manually created expenses.
          properties:
            supplier_invoice_id:
              type: string
            invoice_number:
              type: string
              nullable: true
            anaf_message_id:
              type: string
              nullable: true
            xml_available:
              type: boolean
            pdf_available:
              type: boolean
            pdf_url:
              type: string
              nullable: true
              description: Bearer-authenticated URL that streams the e-Factura PDF; regenerated on demand when missing
        items:
          type: array
          description: |
            Line rows for the expense. Always at least one entry — legacy flat
            expenses get a single synthesized line built from the header totals
            so API consumers can render a uniform table. Send `items` on
            create/update to persist real multi-line rows.
          items:
            $ref: '#/components/schemas/ExpenseLine'
        vat_breakdown:
          type: array
          nullable: true
          description: |
            Per-rate VAT tranches when the receipt mixes two or more rates.
            `null` for single-rate expenses.
          items:
            $ref: '#/components/schemas/ExpenseVatBreakdownEntry'
        category_source:
          type: string
          nullable: true
          enum: [ai, supplier, manual]
          description: |
            How the category was assigned. `null` on uncategorized expenses
            or legacy rows where provenance wasn't recorded.
        category_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
          description: Auto-classifier confidence when category_source is 'ai'.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ExpenseLine:
      type: object
      required:
        - id
        - line_index
        - name
        - quantity
        - unit_price
        - vat_rate
        - amount_wvat
        - amount_vat
        - amount
      properties:
        id:
          type: integer
          description: Line row ID. `0` for synthesized legacy lines.
        line_index:
          type: integer
          description: Zero-based position within the expense.
        name:
          type: string
        description:
          type: string
          nullable: true
        quantity:
          type: number
          description: Supports fractional quantities (e.g. 0.5 kg).
        unit_code:
          type: string
          nullable: true
          description: Optional UN/ECE unit code (e.g. H87, KGM).
        unit_price:
          type: number
          description: Net unit price (excluding VAT).
        vat_rate:
          type: integer
          enum: [0, 5, 9, 11, 19, 21]
        amount_wvat:
          type: number
          description: Line net, 2dp, `round(quantity * unit_price, 2)`.
        amount_vat:
          type: number
          description: Line VAT, 2dp, `round(amount_wvat * vat_rate / 100, 2)`.
        amount:
          type: number
          description: Line gross, 2dp, `amount_wvat + amount_vat`.
        category_id:
          type: string
          nullable: true
          description: Optional per-line category override (falls back to expense-level category).
        product_id:
          type: string
          nullable: true
          description: Optional link to a product in the firm's catalog.

    ExpenseVatBreakdownEntry:
      type: object
      required:
        - rate
        - vat_amount
      properties:
        rate:
          type: integer
          enum: [0, 5, 9, 11, 19, 21]
        net:
          type: number
          nullable: true
          description: Sum of line nets at this rate (2dp).
        vat_amount:
          type: number
          description: Sum of line VATs at this rate (2dp).
        gross:
          type: number
          nullable: true
          description: Sum of line gross values at this rate (2dp).

    OcrReceiptPayload:
      type: object
      description: |
        Normalized prefill returned by POST /expenses/ocr-extract. Map to
        a Create Expense body — see the OCR endpoint guide for the full
        translation table.
      properties:
        tempFileToken:
          type: string
          description: Opaque 15-min token for the staged image; pass through to attachments.
        supplier:
          type: object
          properties:
            id:              { type: string, nullable: true }
            name:            { type: string }
            cui:             { type: string, nullable: true }
            matchedExisting: { type: boolean }
        category:
          type: object
          properties:
            id:   { type: string, nullable: true }
            name: { type: string, nullable: true }
        date:        { type: string, format: date }
        dueDate:     { type: string, nullable: true }
        currency:    { type: string }
        amount:      { type: number, description: Net subtotal (excluding VAT). }
        vatRate:     { type: number, description: Dominant VAT rate. }
        vatAmount:   { type: number, description: Total VAT across all rate tranches. }
        vatMode:
          type: string
          enum: [flat, mix]
          description: |
            "flat" = single rate; send `vat = <number>` on POST.
            "mix"  = two or more non-zero rate tranches; send `vat = "mix"`
                     + `amount_vat_manual = vatAmount` on POST.
        total:        { type: number, description: Gross total printed on the receipt. }
        vatIncluded:  { type: boolean }
        vatBreakdown:
          type: array
          nullable: true
          items:
            type: object
            properties:
              rate:      { type: number }
              net:       { type: number, nullable: true }
              gross:     { type: number, nullable: true }
              vatAmount: { type: number }
        paymentMethod:
          type: string
          nullable: true
          enum: [cash, card, transfer, other, null]
          description: |
            Inferred payment method. Map to `payment_type` on POST:
            cash→1, card→4, transfer→3, other/null→caller decides.
        docNumber:    { type: string, nullable: true }
        description:  { type: string, nullable: true }
        items:
          type: array
          description: |
            Optional. May be absent depending on document quality and
            structure. Clients that ignore this field still get correct
            totals via the aggregate fields.
          items:
            type: object
            properties:
              name:       { type: string }
              quantity:   { type: number }
              unit_price: { type: number, description: NET (ex-VAT). }
              vat_rate:   { type: number }
        warnings:
          type: array
          description: Pre-localized Romanian strings safe to surface in the form alert.
          items: { type: string }

    ExpenseLineInput:
      type: object
      required:
        - name
        - quantity
        - unit_price
        - vat_rate
      properties:
        name:
          type: string
        quantity:
          type: number
          minimum: 0.0001
        unit_price:
          type: number
          description: Net unit price (excluding VAT).
        vat_rate:
          type: integer
          enum: [0, 5, 9, 11, 19, 21]
        description:
          type: string
          nullable: true
        unit_code:
          type: string
          nullable: true
        category_id:
          type: string
          nullable: true
        product_id:
          type: string
          nullable: true

    ExpenseList:
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginationMeta'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Expense'
            totals:
              type: object
              description: Aggregated totals for all expenses matching the filters
              properties:
                subtotal:
                  type: number
                  format: float
                  description: Total amount without VAT
                vat:
                  type: number
                  format: float
                  description: Total VAT amount
                total:
                  type: number
                  format: float
                  description: Total amount including VAT
                paid:
                  type: number
                  format: float
                  description: Total amount of paid expenses
                unpaid:
                  type: number
                  format: float
                  description: Total amount of unpaid expenses
            count:
              type: integer
              
    ExpenseCreateRequest:
      type: object
      required:
        - date
      description: |
        Either `supplier_id` or `supplier_data` must be provided. Either
        (`amount` + `vat`) or `items[]` must be provided — when `items` is
        sent the header `amount`/`vat` request fields are ignored and the
        server derives them from the lines.
      properties:
        supplier_id:
          type: string
          description: Supplier CzUid. Omit when sending `supplier_data` to auto-create.
        supplier_data:
          type: object
          description: |
            Auto-create a supplier when `supplier_id` is missing. If a
            supplier with the same CUI (or name when CUI is missing) already
            exists on the firm, it is reused instead of creating a duplicate.
          required:
            - name
          properties:
            name:
              type: string
            cui:
              type: string
              nullable: true
        amount:
          type: number
          minimum: 0.01
          description: Amount (positive number). Required on the flat path; ignored when `items` is sent.
        vat:
          oneOf:
            - type: integer
              enum: [0, 5, 9, 11, 19, 21]
            - type: string
              enum: ["mix"]
          description: |
            VAT percentage. Either a numeric percent (0/5/9/11/19/21) or the
            string "mix" for multi-rate receipts where the caller supplies
            the total VAT manually via `amount_vat_manual`. Required on the
            flat and mix paths; ignored when `items` is sent.
        amount_vat_manual:
          type: number
          minimum: 0
          description: |
            Total VAT amount in receipt currency. **Required when `vat = "mix"`**,
            ignored otherwise. Server stores `amount_wvat = amount`,
            `amount_vat = amount_vat_manual`, `amount_total = amount + amount_vat_manual`
            exactly — no rounding inference.
        date:
          type: string
          format: date
          description: Expense date (required, Y-m-d format)
        items:
          type: array
          description: |
            Line rows. When present and non-empty, the server persists real
            line records and derives `amount` / `vat` / `vat_breakdown` from
            them. See the Expense Lines concept for rounding rules.
          items:
            $ref: '#/components/schemas/ExpenseLineInput'
        vat_breakdown:
          type: array
          description: |
            Per-rate VAT tranches for multi-VAT receipts saved on the flat
            or mix paths. Supply two or more entries. On the mix path the
            server synthesizes one persisted line per rate group from the
            breakdown so reports keep accurate per-rate totals. Ignored when
            `items` is sent.
          items:
            $ref: '#/components/schemas/ExpenseVatBreakdownEntry'
        currency:
          type: string
          default: RON
          description: Currency code (optional, defaults to RON)
        due_date:
          type: string
          format: date
          description: Due date (optional, defaults to 30 days from today)
        paid_date:
          type: string
          format: date
          description: Payment date (optional, defaults to today if is_paid=true)
        payment_type:
          type: integer
          minimum: 1
          maximum: 7
          description: |
            Payment type ID 1-7 (optional, defaults to 1 if is_paid=true):
            1 = Cash
            2 = Bank transfer
            3 = Card
            4 = Check
            5 = Promissory note
            6 = Other
            7 = Compensation
        category_id:
          type: integer
          description: Category ID (optional, defaults to 0)
          nullable: true
        reference:
          type: string
          description: Reference number (optional)
        description:
          type: string
          description: Description (optional)
        with_vat:
          type: boolean
          default: false
          description: Whether amount includes VAT (optional, defaults to false)
        is_paid:
          type: boolean
          default: false
          description: Whether expense is paid (optional, defaults to false)
        with_currency_exchange:
          type: boolean
          default: false
          description: Whether to apply currency exchange (optional)
        currency_to:
          type: string
          description: Target currency (if with_currency_exchange)
        currency_rate:
          type: number
          description: Exchange rate (if with_currency_exchange)
          
    ExpenseUpdateRequest:
      type: object
      description: |
        All fields optional. Sending `items` REPLACES all existing lines —
        send the full desired set, not a diff. Omit `items` to leave lines
        untouched. To convert an itemized expense back to flat, send
        `items: []` alongside new `amount` + `vat`.
      properties:
        supplier_id:
          type: string
        category_id:
          type: integer
          nullable: true
        reference:
          type: string
        description:
          type: string
        amount:
          type: number
        with_vat:
          type: integer
          enum: [0, 1]
        vat:
          oneOf:
            - type: integer
              enum: [0, 5, 9, 11, 19, 21]
            - type: string
              enum: ["mix"]
          description: |
            VAT percentage. Either a numeric value or the string "mix" for
            multi-rate receipts. When set to "mix" the request must include
            `amount_vat_manual`.
        amount_vat_manual:
          type: number
          minimum: 0
          description: |
            Total VAT amount when `vat = "mix"`. Server stores
            `amount_wvat = amount`, `amount_vat = amount_vat_manual`,
            `amount_total = amount + amount_vat_manual`.
        currency:
          type: string
        date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        is_paid:
          type: integer
          enum: [0, 1]
        paid_date:
          type: string
          format: date
        payment_type:
          type: integer
          minimum: 1
          maximum: 7
        with_currency_exchange:
          type: integer
          enum: [0, 1]
        currency_to:
          type: string
        currency_rate:
          type: number
        items:
          type: array
          description: |
            Replace all line rows. When present, the server re-derives
            `amount` / `vat` / `vat_breakdown` from the lines and ignores
            the corresponding header fields on the body. Empty array
            (`[]`) clears the lines.
          items:
            $ref: '#/components/schemas/ExpenseLineInput'
        vat_breakdown:
          type: array
          description: |
            Update the per-rate breakdown for flat-path multi-VAT receipts.
            Ignored when `items` is sent.
          items:
            $ref: '#/components/schemas/ExpenseVatBreakdownEntry'
          
    ExpenseCategory:
      type: object
      required:
        - id
        - name
        - type
      properties:
        id:
          type: integer
        name:
          type: string
        parent_id:
          type: integer
          nullable: true
        is_default:
          type: boolean
          description: Whether this is a system default category
        is_visible:
          type: boolean
        type:
          type: string
          enum: [system, custom]
        expense_count:
          type: integer
          description: Number of expenses in this category
        children:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseCategory'
            
    ExpenseCategoryCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        parent_id:
          type: integer
          default: 0
          description: Parent category ID (0 for root)
        is_visible:
          type: integer
          enum: [0, 1]
          default: 1
          
    ExpenseCategoryUpdateRequest:
      type: object
      properties:
        name:
          type: string
        parent_id:
          type: integer
        is_visible:
          type: integer
          enum: [0, 1]
            
    Supplier:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Unique identifier (CzUid)
          example: "sup_1a2b3c4d5e"
        name:
          type: string
        cui:
          type: string
          description: Tax identification number
        rc:
          type: string
          description: Company registration number
        cnp:
          type: string
          description: Personal identification number
        address:
          type: string
        city:
          type: string
        county:
          type: string
        country:
          type: string
        postal_code:
          type: string
        phone:
          type: string
        email:
          type: string
        iban:
          type: string
        bank:
          type: string
        contact_person:
          type: string
        contact_phone:
          type: string
        contact_email:
          type: string
        is_vat_payer:
          type: boolean
        statistics:
          type: object
          properties:
            expense_count:
              type: integer
            total_amount:
              type: number
            paid_amount:
              type: number
            unpaid_amount:
              type: number
        recent_expenses:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              reference:
                type: string
              amount:
                type: number
              currency:
                type: string
              date:
                type: string
                format: date
              is_paid:
                type: boolean
        metadata:
          type: object
          description: |
            Lightweight expense aggregates. Returned by `GET /suppliers` only
            when `with_totals=1` is supplied. Cheaper than `expand=statistics`
            since the totals come from a single inline subquery rather than
            a per-row N+1 follow-up. Amounts are expressed in the firm's
            accounting currency.
          properties:
            expense_count:
              type: integer
              description: Number of non-deleted expenses for this supplier
            total_expenses:
              type: number
              description: Sum of `account_amount_total` across all matching expenses
            unpaid_total:
              type: number
              description: Sum of `account_amount_total` across unpaid matching expenses
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SupplierList:
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginationMeta'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Supplier'
                
    SupplierCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        cui:
          type: string
          description: Tax identification number
        rc:
          type: string
          description: Company registration number
        cnp:
          type: string
          description: Personal identification number
        address:
          type: string
        city:
          type: string
        county:
          type: string
        country:
          type: string
          default: RO
        postal_code:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        iban:
          type: string
        bank:
          type: string
        contact_person:
          type: string
        contact_phone:
          type: string
        contact_email:
          type: string
          format: email
        is_vat_payer:
          type: boolean
          default: true
          
    SupplierUpdateRequest:
      type: object
      properties:
        name:
          type: string
        cui:
          type: string
        rc:
          type: string
        cnp:
          type: string
        address:
          type: string
        city:
          type: string
        county:
          type: string
        country:
          type: string
        postal_code:
          type: string
        phone:
          type: string
        email:
          type: string
        iban:
          type: string
        bank:
          type: string
        contact_person:
          type: string
        contact_phone:
          type: string
        contact_email:
          type: string
        is_vat_payer:
          type: boolean
          
    SupplierBillAmounts:
      type: object
      properties:
        tax_exclusive: { type: number, format: float, description: Subtotal without VAT }
        tax: { type: number, format: float, description: Total VAT amount }
        tax_inclusive: { type: number, format: float, description: Grand total }
        paid: { type: number, format: float, description: Amount already paid }
        unpaid: { type: number, format: float, description: tax_inclusive minus paid (can be negative for credit notes) }

    SupplierBillSupplierSummary:
      type: object
      properties:
        id: { type: string, nullable: true, description: Supplier CzUid (null when no FirmSupplier row exists) }
        name: { type: string, nullable: true }
        vat_id: { type: string, nullable: true }
        reg_com: { type: string, nullable: true }
        address: { type: string, nullable: true }
        email: { type: string, nullable: true }
        phone: { type: string, nullable: true }

    SupplierBill:
      type: object
      properties:
        id: { type: string, description: Supplier bill CzUid }
        object: { type: string, example: supplier_bill }
        invoice_number: { type: string }
        invoice_type_code: { type: string, enum: ['380', '381'] }
        invoice_type: { type: string, enum: [invoice, credit_note] }
        issue_date: { type: string, format: date }
        due_date: { type: string, format: date, nullable: true }
        currency: { type: string, example: RON }
        amounts: { $ref: '#/components/schemas/SupplierBillAmounts' }
        status: { type: string, enum: [unpaid, paid, partial] }
        payment_date: { type: string, format: date, nullable: true }
        payment_amount: { type: number, format: float, nullable: true }
        supplier: { $ref: '#/components/schemas/SupplierBillSupplierSummary' }
        supplier_id: { type: string, nullable: true, description: CzUid of the linked FirmSupplier (if any) }
        expense_id: { type: string, nullable: true, description: CzUid of the linked FirmExpense (if any) }
        client_id: { type: string, nullable: true, description: CzUid of the reciprocal FirmClient — populated when this firm has a client with the same CIF as the supplier }
        efactura_message_id: { type: integer, nullable: true, description: Local id of the FirmEfacturaMessage row (the SPV message that produced this bill) }
        efactura_pdf_url: { type: string, nullable: true, description: Direct URL to the PDF stream endpoint (null when there is no SPV XML) }
        order_reference: { type: string, nullable: true }
        note: { type: string, nullable: true }
        created_at: { type: integer, description: Unix timestamp }
        updated_at: { type: integer, description: Unix timestamp, nullable: true }
        expense:
          type: object
          nullable: true
          description: Present when expand contains `expense`.
        client:
          type: object
          nullable: true
          description: Present when expand contains `client` and a reciprocal client exists.
        efactura_message:
          type: object
          nullable: true
          description: Present when expand contains `efactura_message`.
          properties:
            id: { type: integer }
            message_id: { type: string }
            cif: { type: string, nullable: true }
            type: { type: string, nullable: true }
            creation_date: { type: string, format: date-time, nullable: true }
            environment: { type: string, enum: [test, live], nullable: true }
        lines:
          type: array
          description: Present when expand contains `lines`.
          items:
            type: object

    SupplierBillBalance:
      type: object
      description: Aggregate over the same supplier (matched by id, vat_id, or name).
      properties:
        unpaid_total: { type: number, format: float }
        unpaid_count: { type: integer }
        currency: { type: string }
        next_due:
          type: object
          nullable: true
          properties:
            id: { type: string }
            invoice_number: { type: string }
            due_date: { type: string, format: date, nullable: true }
            tax_inclusive: { type: number, format: float }

    SupplierBillCurrencyTotals:
      type: object
      properties:
        count: { type: integer }
        tax_exclusive: { type: number, format: float }
        tax: { type: number, format: float }
        tax_inclusive: { type: number, format: float }
        paid: { type: number, format: float }
        unpaid: { type: number, format: float }

    SupplierBillTotals:
      type: object
      description: Aggregate totals (global plus per-currency breakdown).
      properties:
        count: { type: integer }
        tax_exclusive: { type: number, format: float }
        tax: { type: number, format: float }
        tax_inclusive: { type: number, format: float }
        paid: { type: number, format: float }
        unpaid: { type: number, format: float }
        by_currency:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SupplierBillCurrencyTotals'

    SupplierBillList:
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginationMeta'
        - type: object
          properties:
            data:
              type: array
              items: { $ref: '#/components/schemas/SupplierBill' }
            totals:
              $ref: '#/components/schemas/SupplierBillTotals'

    SupplierBillMarkPaidRequest:
      type: object
      properties:
        payment_date:
          type: string
          format: date
          description: Defaults to today.
        payment_amount:
          type: number
          format: float
          minimum: 0
          description: |
            Defaults to the bill's `tax_inclusive` total. A value lower than
            the total marks the bill `partial`; zero marks it `unpaid`.

    SupplierBillSyncResult:
      type: object
      properties:
        synced: { type: integer, description: Total messages returned by ANAF for the chosen window }
        created: { type: integer, description: New FirmEfacturaMessage rows }
        updated: { type: integer, description: Existing rows touched }
        failed: { type: integer }
        xml_saved: { type: integer, description: XML files freshly downloaded to disk }
        invoices_imported: { type: integer, description: New FirmSupplierInvoice rows produced from XML }
        days_synced: { type: integer }
        environment: { type: string, enum: [test, live] }
        errors:
          type: array
          items: { type: string }

    Settings:
      type: object
      properties:
        api_version:
          type: string
          example: "v1"
        firm:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            cui:
              type: string
            address:
              type: string
            city:
              type: string
            country:
              type: string
        invoice_series:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              prefix:
                type: string
              next_number:
                type: integer
              is_default:
                type: boolean
        e_factura:
          type: object
          properties:
            enabled:
              type: boolean
            oauth_configured:
              type: boolean
            environment:
              type: string
              enum: [test, live]
        bank_accounts:
          type: array
          items:
            type: object
            properties:
              iban:
                type: string
              bank:
                type: string
              currency:
                type: string
              is_default:
                type: boolean
        currencies:
          type: array
          items:
            type: string
        default_currency:
          type: string
        vat_rates:
          type: array
          items:
            type: integer
        payment_types:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
        subscription:
          type: object
          properties:
            plan:
              type: string
            status:
              type: string
            expires_at:
              type: string
              format: date
        features:
          type: object
          properties:
            expenses:
              type: boolean
            efactura:
              type: boolean
            multi_currency:
              type: boolean
            api_access:
              type: boolean
        rate_limits:
          type: object
          properties:
            requests_per_hour:
              type: integer
            creates_per_minute:
              type: integer
            current_usage:
              type: integer
            reset_at:
              type: string
              format: date-time

    InvoiceSeries:
      type: object
      properties:
        id:
          type: string
          description: Unique series identifier (CzUid)
        object:
          type: string
          example: invoice_series
        name:
          type: string
          description: Series prefix/name
        document_type:
          type: string
          enum: [fiscal, proforma]
        description:
          type: string
          nullable: true
        start_number:
          type: integer
        next_number:
          type: integer
          description: Next available invoice number
        format:
          type: string
          description: Number format pattern
          example: "FACT-{year}-{number}"
        is_primary:
          type: boolean
        is_used:
          type: boolean
          description: Whether any documents have been issued with this series
        is_locked:
          type: boolean
          description: |
            True when this series is bound to a specific mobile device. While
            locked, only that device can emit invoices on the series (online
            or via pre-reserved numbers while offline). See
            [Offline Mode](/concepts/offline-mode).
        lock:
          $ref: '#/components/schemas/InvoiceSeriesLock'
          nullable: true
        year:
          type: integer
        created_at:
          type: integer
          description: Unix timestamp

    InvoiceSeriesLock:
      type: object
      description: Mobile-device binding metadata. `null` when the series is unlocked.
      properties:
        device_id:
          type: string
          description: Stable device identifier (persisted on the mobile app).
        session_id:
          type: integer
          nullable: true
          description: user_session.id that created the lock.
        user_id:
          type: integer
          nullable: true
        device_name:
          type: string
          nullable: true
        device_platform:
          type: string
          nullable: true
          description: ios, android, or web.
        locked_at:
          type: integer
          nullable: true
          description: Unix timestamp (seconds)

    NumberReservation:
      type: object
      description: Pre-allocated invoice number held for a mobile device.
      properties:
        object:
          type: string
          example: number_reservation
        token:
          type: string
          description: Opaque token — pass as `reservation_token` on POST /invoices.
        series_id:
          type: string
          nullable: true
          description: CzUid of the series the reservation belongs to.
        number:
          type: integer
          description: The pre-allocated `number_idx` within the series.
        status:
          type: string
          enum: [pending, consumed, released, expired]
        device_id:
          type: string
        reserved_at:
          type: integer
          nullable: true
        expires_at:
          type: integer
          nullable: true
        consumed_at:
          type: integer
          nullable: true
        client_local_uuid:
          type: string
          nullable: true

    BankAccount:
      type: object
      properties:
        id:
          type: string
          description: Unique bank account identifier (CzUid)
        object:
          type: string
          example: bank_account
        iban:
          type: string
        bank_name:
          type: string
        currency:
          type: string
        swift:
          type: string
          nullable: true
        bic:
          type: string
          nullable: true
        is_visible:
          type: boolean
          description: Whether shown on invoices
        created_at:
          type: integer
          description: Unix timestamp

    VatRate:
      type: object
      properties:
        id:
          type: string
          description: VAT rate CzUid
        percent:
          type: number
          example: 19
        description:
          type: string
          example: 19% - TVA
        is_used:
          type: boolean
          description: True if at least one bill row references this rate
        can_be_deleted:
          type: boolean
        is_custom:
          type: boolean
          description: Always true for rows returned in data (they are firm-scoped). Standard Romanian rates appear under `available`.

    Currency:
      type: object
      properties:
        id:
          type: string
          description: Currency CzUid
        code:
          type: string
          example: EUR
        description:
          type: string
          example: Euro
        is_used:
          type: boolean
        is_default:
          type: boolean
          description: True for RON

    Language:
      type: object
      properties:
        id:
          type: string
          description: Language CzUid
        code:
          type: string
          example: en
        description:
          type: string
          example: English
        is_default:
          type: boolean
          description: True for `ro`

  responses:
    UnauthorizedError:
      description: API key is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    MethodNotAllowedError:
      description: Method not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Invalid or missing request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimitError:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

paths:
  # Root endpoint
  /:
    get:
      operationId: getApiInfo
      tags: [Authentication]
      summary: API information
      description: Returns basic API information and status
      security: []
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "Contazen API"
                      version:
                        type: string
                        example: "v1"
                      documentation:
                        type: string
                        format: uri
                      status:
                        type: string
                        example: "operational"
  
  # Test endpoints
  /test/public:
    get:
      operationId: testPublic
      tags: [Authentication]
      summary: Public test endpoint
      description: Test endpoint that doesn't require authentication
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          
  /test/protected:
    get:
      operationId: testProtected
      tags: [Authentication]
      summary: Protected test endpoint
      description: Test endpoint that requires authentication
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
  /test/echo:
    post:
      operationId: testEcho
      tags: [Authentication]
      summary: Echo test endpoint
      description: Echoes back the request data for testing
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
                
  /test/rate-limit:
    get:
      operationId: testRateLimit
      tags: [Authentication]
      summary: Test rate limiting
      description: Returns current rate limit status for your API key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      limit:
                        type: integer
                      remaining:
                        type: integer
                      reset_at:
                        type: string
                        format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
          
  /test/error:
    get:
      operationId: testError
      tags: [Authentication]
      summary: Test error response
      description: Returns a test error for debugging error handling
      security: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            default: api_error
          description: Error type to return
        - name: code
          in: query
          schema:
            type: integer
            default: 400
          description: HTTP status code to return
      responses:
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          
  # Clients endpoints
  /clients:
    get:
      operationId: listClients
      tags: [Clients]
      summary: List all clients
      description: Retrieves a paginated list of clients for your firm
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number (1-indexed)
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of items per page
        - name: search
          in: query
          schema:
            type: string
          description: Search term for name, email, or CUI
        - name: client_type
          in: query
          schema:
            type: string
            enum: [b2b, b2c]
          description: Filter by client type (`b2b` = companies, `b2c` = individuals)
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, created_at, total_invoiced, invoices_count]
          description: |
            Sort field. When omitted, results are ordered by aggregated
            `total_invoiced` DESC (the default surface for the client
            list).
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order (ignored when `sort` is omitted)
      responses:
        '200':
          description: |
            List of clients. Each item includes a `metadata` block with
            `invoices_count` and `total_invoiced` aggregated across the
            firm's fiscal invoices (snapshot-aware), so the list view can
            render totals without a follow-up call.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ClientList'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      operationId: createClient
      tags: [Clients]
      summary: Create a client
      description: Creates a new client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateRequest'
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Client'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
  /clients/{id}:
    get:
      operationId: getClient
      tags: [Clients]
      summary: Retrieve a client
      description: Get a specific client by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Client CzUid (e.g., cli_1a2b3c4d5e)
      responses:
        '200':
          description: Client details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Client'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
    put:
      operationId: updateClient
      tags: [Clients]
      summary: Update a client
      description: Updates an existing client
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Client CzUid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientUpdateRequest'
      responses:
        '200':
          description: Client updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Client'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
    delete:
      operationId: deleteClient
      tags: [Clients]
      summary: Delete a client
      description: Deletes a client (soft delete, cannot delete if has associated invoices)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Client CzUid
      responses:
        '200':
          description: Client deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Cannot delete client with existing invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
  # Invoices endpoints
  /invoices:
    get:
      operationId: listInvoices
      tags: [Invoices]
      summary: List all invoices
      description: |
        Retrieves a paginated list of invoices with optional filters and expansion.
        
        ## Filtering
        Use query parameters to filter invoices by various criteria.
        
        ## Expanding Objects
        Use the `expand[]` parameter to include related objects:
        - `expand[]=lines` - Include invoice line items
        - `expand[]=payments` - Include payment records
        - `expand[]=client` - Include full client object
        - `expand[]=efactura` - Include e-Factura submission details
        
        ## Totals
        The response includes aggregated totals for all invoices matching your filters.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Items per page
        - name: client_id
          in: query
          schema:
            type: string
          description: Filter by client CzUid
        - name: series_id
          in: query
          schema:
            type: string
          description: Filter by series CzUid
        - name: is_paid
          in: query
          description: |
            Filter by payment status (0=unpaid, 1=paid).
            Note: This filter excludes voided and storno invoices.
          schema:
            type: integer
            enum: [0, 1]
        - name: is_void
          in: query
          schema:
            type: integer
            enum: [0, 1]
          description: Filter by void status
        - name: document_type
          in: query
          schema:
            type: string
            enum: [fiscal, proforma, receipt]
          description: Filter by document type
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, paid, overdue, cancelled]
          description: Filter by status
        - name: currency
          in: query
          schema:
            type: string
          description: Filter by currency code (e.g., RON, EUR, USD)
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD)
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, date, due_date, total, number]
            default: created_at
          description: Sort field
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order
        - name: expand[]
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [lines, payments, client, efactura]
          style: form
          explode: true
          description: Expand nested objects
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/InvoiceList'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
    post:
      operationId: createInvoice
      tags: [Invoices]
      summary: Create an invoice
      description: |
        Creates a new invoice with flexible client handling and item management.
        
        ## Client Handling
        You can either:
        - Use an existing client with `client_id`
        - Create/find a client inline with `client_data`
        
        For B2B clients with the same CUI, the system will automatically reuse the existing client.
        
        ## Product Integration
        Invoice items can be:
        - Linked to existing products using `product_czuid`
        - Created as one-off items
        - Saved as new products with `save_as_product: true`
        
        ## E-Factura
        Romanian e-invoicing is enabled by default. Include UBL codes for compliance.
        
        ## Email Automation
        Set `send_email: true` to automatically send the invoice after creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateRequest'
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
  /invoices/{id}:
    get:
      operationId: getInvoice
      tags: [Invoices]
      summary: Retrieve an invoice
      description: Get a specific invoice by ID with optional expansion of related objects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Invoice CzUid
        - name: expand[]
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [lines, payments, client, efactura]
          style: form
          explode: true
          description: Expand nested objects
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      operationId: updateInvoice
      tags: [Invoices]
      summary: Update an invoice (header-only)
      description: |
        Updates a narrow set of header-level fields on an existing invoice.
        Full item/client rewrites are intentionally out of scope in v1 —
        issue a storno + a fresh invoice instead.

        ## Edit guards

        The endpoint rejects the update when:

        - The invoice is itself a storno row — `400 invoice_is_storno`.
        - The invoice has already been storno'd — `400 invoice_already_storned`.
        - The invoice is paid *and* the body touches totals
          (`items`, `currency`, `with_vat_inverted`) — `400 invoice_is_paid`.
        - ANAF has `accepted` or `validated` the invoice via SPV —
          `403 invoice_locked_efactura` (with `efactura_status` in the
          error payload).

        ## Field semantics

        - `info` is the canonical field for free-text notes. The legacy
          aliases `observation` and `notes` are accepted and mapped to
          `info` server-side, but new integrations should use `info`.
        - Row-level `price_total` / `account_amount_total` are **not**
          accepted — line totals are derived from `quantity × price` plus
          VAT. Send per-row components only.
        - `exchange_rate` is only applied when the invoice currency is not
          RON. It overrides `currency_rate` and is mirrored into every
          `account_amount_*` field.
        - `currency = "RON"` forces `currency_rate = 1.000` and
          `currency_to = "RON"` regardless of `exchange_rate`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Invoice CzUid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date_at:
                  type: string
                  description: ISO date or unix timestamp. Alias - `date`.
                due_at:
                  type: string
                  nullable: true
                  description: ISO date or unix timestamp. Pass empty/null to clear. Alias - `due_date`.
                info:
                  type: string
                  nullable: true
                  description: Free-text notes shown on the PDF. Accepted aliases - `observation`, `notes`.
                client_id:
                  type: string
                  description: CzUid of an existing firm client; rebinds the invoice to that client's current snapshot.
                currency:
                  type: string
                  description: ISO-4217 code. Passing `RON` resets `currency_rate` to 1.
                exchange_rate:
                  type: number
                  description: Positive FX rate. Ignored for RON invoices. Overrides `currency_rate` and propagates to all `account_amount_*` fields.
                series_id:
                  type: string
[...]
